html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer {
  padding-bottom: 20px;
}

.cityName {
  text-transform: capitalize;
  margin-top: 30%;
}

@media (max-width: 666px) {
  .cityName {
    margin-top: 50%;
  }
}

.cityData > h3, .cityData > h5 {
  color: #666;
}
